- name: Directories are present
  file: dest={{ item }} state=directory
  with_items: "{{ directories }}"
  tags: [consul]

- name: Watchers are present
  copy:
    src: watchers.json
    dest: /etc/consul.d/watchers.json
    mode: 0644
  when: consul_master_ip is not defined
  tags: [consul]

- name: Templates are present
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode }}"
  with_items: "{{ templates_client }}"
  when: consul_master_ip is defined
  tags: [consul]

- name: Templates are present
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode }}"
  with_items: "{{ templates_server }}"
  when: consul_master_ip is not defined
  tags: [consul]

- name: Files are present
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode }}"
  with_items: "{{ files }}"
  tags: [consul]

- name: unzip package is present
  apt: name=unzip state=present

- name: Consul binary is present
  unarchive:
    src: "https://releases.hashicorp.com/consul/{{ consul_version }}/consul_{{ consul_version }}_linux_amd64.zip"
    dest: "/usr/local/bin"
    mode: "0755"
    remote_src: yes

- name: Systemd Units are present
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode }}"
  with_items: "{{ systemdunits }}"
  notify:
    - reload systemctl
  when: ansible_distribution == 'Debian'
  tags: [consul]

- name: Upstart conf are present
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode }}"
  with_items: "{{ upstartfiles }}"
  when: ansible_distribution == 'Ubuntu'
  tags: [consul]

- name: Consul Service is started
  service:
    name: consul
    state: started
    enabled: yes
  tags: [consul]

- name: Node is in cluster
  shell: consul join {{ consul_master_ip }}
  when: consul_master_ip is defined
  tags: [consul]

- name: Configurations are present
  template:
    src: consul_check.json.j2
    dest: /etc/consul.d/consul_check.json
  register: result
  tags: [consul]

- name: Consul is restarted
  shell: killall -HUP consul
  when: result|changed
  tags: [consul]

- name: Registrator Service is started
  service:
    name: registrator
    state: started
    enabled: yes
  tags: [consul]

- name: Registrator-KV Service is started
  service:
    name: registrator-kv
    state: started
    enabled: yes
  tags: [consul]

- name: dnsmasq package is present
  apt: name=dnsmasq state=present

- name: Check if consul dnsmasq config is present
  stat: path=/etc/dnsmasq.d/dnsmasq-consul
  register: dnsmasqconsul

- name: Copy consul dnsmasq configuration  
  copy: 
    src: dnsmasq-consul
    dest: /etc/dnsmasq.d/dnsmasq-consul
  when: dnsmasqconsul.stat.isreg is not defined

- name: Dnsmasq Service is started
  service:
    name=dnsmasq
    state=started
  tags: [consul]
  
- name: Dnsmasq Service is restarted
  service:
    name=dnsmasq
    state=restarted
    pattern=/usr/sbin/consul
  when: dnsmasqconsul.stat.isreg is not defined
  tags: [consul]
