- name: Start IPerf server container
  docker:
    name: iperf-server
    image: networkstatic/iperf3
    command: -6s
    state: started
    ports: 5201:5201
  when: (is_iperf_server is defined) and (ansible_distribution == "Debian")

- name: Iperf package is present
  apt:
    name: iperf3
    state: latest
  when: ansible_distribution == "Ubuntu"
  
- name: Iperf3 server is started
  command: iperf3 -6Ds 
  when: (is_iperf_server is defined) and (ansible_distribution == "Ubuntu")

- name: Start IPerf client container
  docker:
    name: iperf-client
    image: networkstatic/iperf3
    command: -fm -6c {{ iperf_server }}
    detach: false
  when: is_iperf_server is not defined

- name: Show output for IPerf client
  shell: docker logs iperf-client
  register: iperf_output
  when: is_iperf_server is not defined

- debug: 
    msg: "{{iperf_output.stdout_lines[-3]}}"
  when: is_iperf_server is not defined

- name: Append line in log file
  lineinfile:
    dest: "logs/iperf/iperf-{{ hostname }}-{{ iperf_server }}"
    line: "{{ansible_date_time.epoch}} - {{iperf_output.stdout_lines[-3]}}"
    create: yes
  when: is_iperf_server is not defined
  delegate_to: localhost

- name: Update EIaaS
  shell: python update_eiaas_link.py upload "{{ hostname }}" '"{{iperf_output.stdout_lines[-3]}}"'
  args:
    chdir: eiaas
  register: update_output
  when: (is_iperf_server is not defined) and (update_eiaas is defined)
  delegate_to: localhost
  ignore_errors: yes

- debug: 
    msg: "{{update_output.stdout_lines}}"
  when: (is_iperf_server is not defined) and (update_eiaas is defined)
