- name: Start IPerf server container
  docker:
    name: iperf-server
    image: networkstatic/iperf3
    command: -6s
    state: started
    ports: 5201:5201
  when: (is_iperf_server is defined) and (ansible_distribution == "Debian")

- name: Iperf package is present
  apt:
    name: iperf3
    state: latest
  when: ansible_distribution == "Ubuntu"
  
- name: Iperf3 server is started
  command: iperf3 -6Ds 
  when: (is_iperf_server is defined) and (ansible_distribution == "Ubuntu")

- name: Start IPerf client container
  docker:
    name: iperf-client
    image: networkstatic/iperf3
    command: iperf3 -fm -6c {{ iperf_server }}
    detach: false
  when: is_iperf_server is not defined

- name: Show output for IPerf client
  shell: docker logs iperf-client
  register: iperf_output
  when: is_iperf_server is not defined

- debug: 
    msg: "{{iperf_output.stdout_lines[-3]}}"
  when: is_iperf_server is not defined

- name: Append line in log file
  lineinfile:
    dest: "logs/iperf/iperf-{{ hostname }}-{{ iperf_server }}"
    line: "{{ansible_date_time.epoch}} - {{iperf_output.stdout_lines[-3]}}"
    create: yes
  when: is_iperf_server is not defined
  delegate_to: localhost

- name: Update EIaaS
  command:
  args:
    chdir: eiaas
    argv:
      - python
      - update_eiaas_link.py
      - upload
      - "{{ hostname }}"
      - "{{iperf_output.stdout_lines[-3]}}"
  when: is_iperf_server is not defined
  delegate_to: localhost

- name: Test ping RTT
  shell: ping6 -q -c 10 {{ iperf_server }}
  register: ping_output
  when: is_iperf_server is not defined

- debug: 
    msg: "{{ping_output.stdout_lines[-1]}}"
  when: is_iperf_server is not defined

- name: Append line in log file
  lineinfile:
    dest: "logs/ping/ping-{{ hostname }}-{{ iperf_server }}"
    line: "{{ansible_date_time.epoch}} - {{ping_output.stdout_lines[-1]}}"
    create: yes
  when: is_iperf_server is not defined
  delegate_to: localhost

- name: Update EIaaS
  command:
  args:
    chdir: eiaas
    argv:
      - python
      - update_eiaas_link.py
      - rtt
      - "{{ hostname }}"
      - "{{ping_output.stdout_lines[-1]}}"
  when: is_iperf_server is not defined
  delegate_to: localhost