- name: Directories are present
  file:
    dest: "{{ item }}"
    state: directory
  with_items: master_directories
  when: swarm_master is defined
  tags: [swarm]

- name: Scripts are present
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0755
  with_items: master_scripts
  when: swarm_master is defined
  tags: [swarm]

- name: Obsolete Docker init.d service is removed
  file:
    dest: /etc/init.d/docker
    state: absent
  tags: [swarm]

- name: Configuration is present
  copy:
    src: docker.cfg
    dest: /etc/default/docker
  register: config_result
  when: not swarm_master is defined
  tags: [swarm]

- name: Service is restarted
  service:
    name: docker
    state: restarted
  when: config_result|changed
  tags: [swarm]

- name: IPv6 forwarding is activated
  shell: sysctl -w net.ipv6.conf.all.forwarding=1 net.ipv6.conf.{{ egress_if }}.accept_ra=2
  when: config_result|changed
  tags: [swarm]
 
- name: Check docker-nat66 file presence
  stat: path=/usr/local/bin/docker-nat66
  register: dockernat66
  tags: [swarm]

- name: Install docker-nat66
  shell: curl -L https://github.com/bstevant/docker-nat66/releases/download/0.1/nat66-docker > /usr/local/bin/docker-nat66
  when: dockernat66.stat.exists == false
  tags: [swarm]

- name: Apply executable permission
  file: path=/usr/local/bin/docker-nat66 mode="u+x,g+x"
  tags: [swarm]

- name: Debian daemon is present
  apt: name=daemon state=present

- name: Docker-NAT66 is started
  shell: daemon -n docker-nat66 -- /usr/local/bin/docker-nat66 -dev {{ egress_if }} -prefix fdd7:d924:3d5f:d0c4::/64
  when: config_result|changed
  tags: [swarm]

- name: Swarm node is running
  docker:
    name: swarm-node
    image: swarm
    command: join --advertise={{ ip }}:2375 consul://{{ consul_master_ip }}:8500/swarm
  when: not swarm_master is defined
  tags: [swarm]

- name: Swarm master is running
  docker:
    name: swarm-master
    image: swarm
    ports: 2375:2375
    command: -l debug manage consul://{{ hostname }}:8500/swarm
    env:
      SERVICE_ID: swarm-master
  when: swarm_master is defined
  tags: [swarm]

#- name: Compose is present
#  shell: >
#    curl -L \
#    https://github.com/docker/compose/releases/download/1.2.0/docker-compose-`uname -s`-`uname -m` \
#    > /usr/local/bin/docker-compose
#  args:
#    creates: /usr/local/bin/docker-compose
#  when: swarm_master is defined
#  tags: [swarm]
#
#- name: Setting permissions
#  file:
#    path: /usr/local/bin/docker-compose
#    group: root
#    owner: root
#    mode: 0755
#  when: swarm_master is defined
#  tags: [swarm]
