[Unit]
Description=Registrator container
Requires=consul.service
After=consul.service docker.service

[Service]
Restart=always
ExecStart=/bin/sh /usr/local/bin/start-registrator.sh
ExecStop=/usr/bin/docker stop -t 2 registrator
ExecStopPost=/usr/bin/docker rm -f registrator

[Install]
WantedBy=default.target
