for RETRY in 1 2 3 4 5
do
  sleep 1
  IP6ADDR=`ip -6 addr show dev {{ egress_if }} | grep global | grep -v temporary | cut -d ' ' -f 6 | cut -d '/' -f 1`
  [ -n "$IP6ADDR" ] && break
  sleep 1
done
if [ -z "$IP6ADDR"  ]; then
  exit -1
fi 
/usr/local/bin/consul agent {{ consul_extra }} -data-dir /tmp/consul -config-dir /etc/consul.d \
	-node={{ hostname }} -bind=$IP6ADDR -client=0.0.0.0 >/data/consul/logs/consul.log 2>&1
