- name: Test ping RTT
  shell: ping6 -q -c 10 {{ iperf_server }}
  register: ping_output
  when: is_iperf_server is not defined

- debug: 
    msg: "{{ping_output.stdout_lines[-1]}}"
  when: is_iperf_server is not defined

- name: Append line in log file
  lineinfile:
    dest: "logs/ping/ping-{{ hostname }}-{{ iperf_server }}"
    line: "{{ansible_date_time.epoch}} - {{ping_output.stdout_lines[-1]}}"
    create: yes
  when: is_iperf_server is not defined
  delegate_to: localhost

- name: Update EIaaS
#  shell: python update_eiaas_link.py rtt "{{ hostname }}" '"{{ping_output.stdout_lines[-1]}}"'
  shell: python update_eiaas_link_med.py rtt "{{ hostname }}" "logs/ping/ping-{{ hostname }}-{{ iperf_server }}"
  args:
    chdir: eiaas
  register: update_output
  when: (is_iperf_server is not defined) and (update_eiaas is defined)
  delegate_to: localhost
  ignore_errors: yes

- debug: 
    msg: "{{update_output.stdout_lines}}"
  when: (is_iperf_server is not defined) and (update_eiaas is defined)